.forgotPassword {
  background-color: #b8ead9;
  width: 25em;
  height: 15em;
  padding: 2em;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5), inset 4px 4px 5px rgba(255, 255, 255, 0.5);
}

.forgotPassword__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword__form label {
  position: relative;
  top: 15px;
  color: #05386b;
  font-weight: bold;
}

.forgotPassword__form input {
  box-sizing: border-box;
  margin: 1.5em;
  height: 2em;
  width: 25em;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0 7px;
  background-color: #edf5e1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.forgotPassword__form input:focus {
  border-bottom: #05386b solid 2px;
}

.forgotPassword__form button {
  width: 20em;
  background-color: #05386b;
  border: none;
  outline: none;
  height: 2em;
  cursor: pointer;
  border-radius: 5px;
  color: #edf5e1;
  font-size: 1.02rem;
  margin: 30px 0;
}

.forgotPassword__form button:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #05305c;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 500px) {
  .forgotPassword {
    width: 17em;
    height: 15em;
  }

  .forgotPassword__form input {
    width: 17em;
    height: 25px;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .forgotPassword__form button {
    width: 10em;
    margin: 15px 0;
  }
}
